.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .addButton {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #1890ff;
    color: white;
    border: none;
  }
  
  .actionsContainer {
    display: flex;
    gap: 5px; /* Reduce the space between the icons */
  }
  
  .editButton {
    background-color: #52c41a;
    border: none;
    color: white;
    /* padding: 5px; Adjust padding to make button compact */
  }
  
  .deleteButton {
    background-color: #ff4d4f;
    border: none;
    color: white;
    /* padding: 5px; Adjust padding to make button compact */
  }
  
  .spin {
    display: block;
    margin: 20px auto;
  }
  
  .table {
    margin-top: 20px;
  }
  